@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Utilities copied from index.html style block */
@layer utilities {
    .symbol-filled {
        font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    }

    .symbol-regular {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    }
}

/* Base styles */
@layer base {
    body {
        background-color: #171611;
        color: white;
        font-family: 'Manrope', sans-serif;
    }
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #171611;
}

::-webkit-scrollbar-thumb {
    background: #383429;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e1b42d;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.animate-slide-up {
    animation: slide-up 0.3s ease-out forwards;
}
